@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{
  color: #D4AB7E;
  justify-content: left;

}

.home{
  min-height: 880px;
  width: 100%;
  position: absolute;
  top: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  /* background: rgb(1,8,20);
  background: radial-gradient(circle, #010814 34%, #191b1d 70%) ; */
  background: #1B1A1D; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;

}

.loading{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingText{
  font-size: 1.5rem;
}

.content{
  background-color: transparent;
  width: 100%;
  color: aliceblue;
  justify-content: left;
  height: 80vh;
}

.keep {
  position: relative;
  width: 100%;
  text-align: left;   
  margin:80px ;
  display: flex;
  flex-direction: row;
}

.texts{
  width: 500px;
  z-index: 80;
  margin-top: 40px;
  padding: 0;
}

.texts h1, .texts h2{
  font-size: 40px;
  color: var(--secondary-color);
} 

.clearfix{
  position: relative;
  overflow: hidden;
  height: 700px;
  width: 650px;
  left: 150px;
  box-shadow: 
    20px 20px 40px rgba(0, 0, 0, 0.8), /* Top-left corner */
    20px -20px 40px rgba(0, 0, 0, 0.8),  /* Top-right corner */
    -20px 20px 40px rgba(0, 0, 0, 0.8),  /* Bottom-left corner */
    20px 20px 40px rgba(0, 0, 0, 0.8);  
}

.clearfix img{
  min-height: 700px;
  width: 100%;
  object-fit:cover; 
  z-index: 1;
  box-shadow: 0px 0px 0px 4000px rgba(27, 61, 88, 0.5) inset;
  object-position:  100;
  border: 5px solid rgba(20, 4, 4, 0.771); 
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.arrow{
  margin: 20px ;
  padding: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 300px;
 }

 .arrow:hover{
  background-color: transparent;
  color: var(--secondary-color);
  transform: scale(2.05);

 }

.arrow i{
  font-size: 40px;
 }

 #left_arrow{
  left: 0;
 }

 #right_arrow{
  right: 0;
 }

 .carouselHeading{
  text-align: left;
  margin-left: 80px;
 }

.carouselContainer {
  position: relative;
  display: flex;
  overflow-x: auto; 
  padding: 10px 0;
  gap: 10px;
  background: transparent;
  scrollbar-color: #473e3a transparent;
  }

.carouselContainer::-webkit-scrollbar {
  height: 10px;
  padding: 0 10px;
}

.carouselContainer::-webkit-scrollbar-track {
  background: transparent;
}

.carouselContainer::-webkit-scrollbar-thumb {
  background: #473e3a;
  border-radius: 5px;
}
  
.carouselItem {
  list-style: none;
  flex: 0 0 auto; 
  margin-right: 15px; 
  scroll-snap-align: start; 
  }
  
.carouselItem img {
  display: block;
  width: 250px; 
  height: 350px;
  border-radius: 8px;
  }

.carouselItem img:hover {
  border: #D4AB7E 1px solid;
  transform: scale(1.05);
}
  