/* Sidebar container */
.sidebar {
  width: 80px;
  height: 100vh;
  background-color: #252220;
  color: #D4AB7E;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  box-sizing: border-box;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.logo{ 
  width: 60px; 
  height: 60px; 
  position: relative; 
  margin: 0 auto; 
  cursor: pointer;
  margin-bottom: 20px;
}
  
  /* Navigation styling */
.navig {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navig dt {
  margin: 5px 0;
}

.menuItem {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%; 
  padding: 10px 0;
  gap: 0;
  color: #ECDCAB;
  text-decoration: none;
  transition: width 0.3s ease, background-color 0.3s ease;
  flex-direction: column;
}

.menuItem ion-icon {
  font-size: 28px;
  color: #ECDCAB;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menuItem:hover ion-icon {
  color: #AC933E;
  transform: scale(1.15);
}

.iconWrapper {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper ion-icon {
  position: absolute;
  font-size: 28px;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.outline {
  opacity: 1;
  color: #ECDCAB;
}

.filled {
  opacity: 0;
  color: #AC933E; /* Filled color on hover */
}

/* On hover: fade out outline, fade in filled */
.menuItem:hover .outline {
  opacity: 0;
  transform: scale(0.9);
}

.menuItem:hover .filled {
  opacity: 1;
  transform: scale(1.15);
}

/* Optional: slight scale up on hover */
.menuItem:hover .iconWrapper ion-icon {
  transform: scale(1.35);
}

/* Text hidden by default */
.menuText {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  white-space: wrap;
  transition: opacity 0.35s ease, max-width 0.35s ease;
  color: #AC933E;
  padding: 10px 0 0 0;
}

.menuItem:hover .menuText {
  opacity: 1;
  max-width: 120px;
}
