/* Sidebar container */
.sidebar {
    width: 80px;
    height: 100vh;
    background-color: #2522207f;
    color: #D4AB7E;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 10px;
    box-sizing: border-box;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Navigation styling */
  .navig {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navig dt {
    margin: 5px 0;
  }
  
  .navig dt a {
    text-decoration: none;
    font-size: 10px;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navig dt i:hover {
    transform: scale(20px);
  }

.logo{
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;    
}

  .navig i{
    background-color: none;
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
    font-weight: 100;
    color: #D4AB7E;
  }

  .navig span{
    display: none;
  }

  .navig span:hover{
    display: block;
  }